
body{
    font-family: "Roboto", sans-serif;
    margin: 0; 
    padding: 0;


}

.text-cllr{
    color: #696969;
}

.blakk{
    color: #262626;
}

.small-txt-colour{
    color: #aeaeae;
}

.bg-dark-gray{
    background-color:#eaeaea;
}

.bg-forecast{
    background-color: #fafafa;
}

.bg-second-section{
    background-color: #f6f6f6;
}

.w-90per{
    width: 90%;
}
.fs-60{
    font-size: 140px;
}
.bttm-50{
    bottom: 37px;
}

nav .container a img{
    width: 70px;
}

nav .container .navbar-toggler{
    outline: 0 !important; 
    box-shadow: none !important;
    border: none !important;
}

nav .container .navbar-collapse .navbar-nav li a{
    font-size: 18px;
    font-weight: 500;
}

.input-group>.form-control:focus{
    z-index: unset;
}

.input-group {
    height: 42px;
}

.input-group .btn{
    height: 42px;
}


.current-degree-icon::after{
    width: 7px;     
    height: 7px;     
    content: "";     
    background-color: #fafafa;     
    position: absolute;     
    border-radius: 50%;     
    transform: translate(127%, 200%);     
    right: 0;
}
.current-degree-icon::before{
    width: 15px;
    height: 15px;
    content: "";
    background-color: #696969;
    position: absolute;
    border-radius: 50%;
    right: -13px;
    top: 10px;
}



.cont{
    border: 2px solid #e8e8e8;
    border-radius: 12px;
    padding: 10px;
}

.cont h4 {
    margin-top: 8px;
}
.cont p{
    margin-top: 8px;
    margin-bottom: 0;
}

.cont-first-section{
    border-radius: 12px;
    padding: 10px;
}

.cont-first-section:hover{
    background-color: #e8e8e8;
}
.cont-first-section h4{
    margin-top: 8px;
}
.cont-first-section p{
    margin-top: 8px;
    margin-bottom: 0;
}

.footer-container{
    height: 215px;
}

.footer-container a i{
    font-size: 25px;
    margin: 15px;
}